In [1]:
import pandas as pd
import numpy as np
from PIL import Image
import requests
from io import BytesIO
import urllib.request
import cv2

In [2]:
df=pd.read_csv("MovieGenre.csv",encoding="latin1")

In [3]:
col=['Title','Year','IMDB Score','Genre']
df2=df[col]
df2

,Title,Year,IMDB Score,Genre
0,Toy Story,1995,8.3,Animation|Adventure|Comedy
1,Jumanji,1995,6.9,Action|Adventure|Family
2,Grumpier Old Men,1995,6.6,Comedy|Romance
3,Waiting to Exhale,1995,5.7,Comedy|Drama|Romance
4,Father of the Bride Part II,1995,5.9,Comedy|Family|Romance
...,...,...,...,...
40103,Tanya's Island,1980,4.3,Drama
40104,Pacific Banana,1981,4.7,Comedy
40105,Werewolf in a Womens Prison,2006,4.5,Horror
40106,Xiao zi ming da,1979,6.5,Action|Comedy
40107,Snatched,1973,6.5,Crime|Drama|Thriller

In [4]:
def link_to_image(url):
    try:
        resp = urllib.request.urlopen(url)
        img = np.asarray(bytearray(resp.read()), dtype="uint8")
        img = cv2.imdecode(img, cv2.IMREAD_COLOR)
        return img
    except urllib.error.HTTPError as e:
        return None

image_arrays = []
counter = 0
for i, link in enumerate(df['Poster']):
    try:
        img_array = link_to_image(link)
        if img_array is not None:
            image_arrays.append(img_array)
            counter += 1
            print(f"Image {counter} extracted.")
        
        if counter >= 10:
            break
    except Exception as e:
        print(f"Failed to extract image from {link}.")

Image 1 extracted.
Image 2 extracted.
Image 3 extracted.
Image 4 extracted.
Image 5 extracted.
Image 6 extracted.
Image 7 extracted.
Image 8 extracted.
Image 9 extracted.
Image 10 extracted.

In [5]:
np.save("arrays_saved.npy",img_array)